<div>
  <div id="container"></div>
  <script type="text/javascript" charset="utf-8">
    $(function () {
        $('#container').highcharts({
            chart: {
                height: 600,
                marginTop: 40,
                type: 'area'
            },
            title: {
                text: ''
            },
            colors: [
              '#FFE57F', // Backlog
              '#FFC400', // To do
              '#536DFE', // Progress
              '#8C9EFF', // Test
              '#B9F6CA', // Review
              '#00E676', // Done
              '#6200EA',
              '#B388FF'
            ],
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Time'
                }
            },
            yAxis: {
                title: {
                    text: 'Issues'
                },
                labels: {
                    formatter: function () {
                        return this.value;
                    }
                },
                allowDecimals: false,
                min: <%= @builder.min_y %>
            },
            tooltip: {
                headerFormat: '<span><b>Total: {point.y}</b> issues</span><br/><span style="color:#888">{point.key}<br/></span>',
                pointFormat: '<span style="color:{series.color}">\u25CF</span><b> {point.issues}</b> - {series.name}<br/>',
                shared: true
            },
            plotOptions: {
                area: {
                    fillOpacity: 1,
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            },
            series: [
              <%- @builder.series.each do |_key, info| %>
                {
                  name: '<%= info[:name] %>',
                  data: [
                    <% info[:data].each do |data| %>
                      {
                        x: <%= data[:collected_on] %>,
                        y: <%= data[:issues_cumulative] %>,
                        issues: <%= data[:issues] %>,
                      },
                    <% end %>
                  ]
                },
              <%- end %>
            ]
        });
    });
  </script>
</div>
