<div>
  <div id="container"></div>
  <script type="text/javascript" charset="utf-8">
    $(function () {
        $('#container').highcharts({
            chart: {
                height: 600,
                marginTop: 40,
                type: 'scatter',
                zoomType: 'xy'
            },
            title: false,
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    day: '%e.%b',
                },
                title: {
                    text: 'Issue Transition Date'
                },
                startOnTick: true,
                endOnTick: true
            },
            yAxis: {
                title: {
                    text: 'Cycle time / Elapsed time (Days)'
                },
                min: 0,
                allowDecimals: false
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 5,
                        symbol: 'circle',
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '',
                        //hideDelay: 2000, FIX : hideDelay don't work (http://api.highcharts.com/highcharts#plotOptions.scatter.tooltip.hideDelay)
                        pointFormat: '<a href="{point.url}">Issue #{point.number}</a>' +
                          '<br/>WIP: <b>{point.y:.2f}</b>d<br/><span style="color:#888">Closed: {point.x:%e. %b}</span>'
                    }
                },
                spline: {
                    marker: {
                      symbol: 'diamond'
                    },
                    tooltip: {
                        headerFormat: '',
                        pointFormat: 'Rolling Average WIP: <b>{point.y:.2f}d<b/><br/><span style="color:#888">{point.window} Issue window</span>'
                    }
                },
                line: {
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'Rolling Average',
                type: 'spline',
                color: 'rgba(22, 63, 109, 1)',
                marker: {
                    enabled: false
                },
                data: [
                  <% @chart_series_data[:rolling_average].each do |e| %>
                    {
                      x: <%=e[:x]%>,
                      y: <%=e[:y]%>,
                      window: <%=e[:window]%>
                    },
                  <% end %>
                ]
            },{
                name: 'Average',
                type: 'line',
                color: 'rgba(223, 83, 83, .7)',
                marker: {
                    enabled: false
                },
                data: [
                  <% @chart_series_data[:average].each do |e| %>
                    {
                      x: <%=e[:x]%>,
                      y: <%=e[:y]%>
                    },
                  <% end %>
                ]
            },{
                name: 'Issue',
                type: 'scatter',
                color: 'rgba(119, 152, 191, .7)',
                data: [
                  <% @chart_series_data[:issues].each do |e| %>
                    {
                      x: <%=e[:x]%>,
                      y: <%=e[:y]%>,
                      number: <%=e[:number]%>,
                      url: '<%=e[:url]%>'
                    },
                  <% end %>
                ]
            }]
        });
    });
  </script>
</div>
